<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/js/datatable.js"></script>
<script src="/js/utilities.js"></script>
<script src="/js/paretoChart.js"></script>
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div>
					<div class="card bg-primary">
						<div class="card-body text-center">
							<h6 class="card-text text-white" th:text="#{project.title}"></h6>
						</div>
					</div>
					<br>
					<div>
						<a href="/pms/projects" class="btn btn-success"> 
							<i class="fas fa-home ml-2" th:text="' ' + #{projects}"></i>
						</a> 
						<a th:href="@{/pms/activity/add/{projectId}(projectId=${id})}" class="btn btn-success"> 
							<i class="fas fa-user-plus ml-2" th:text="' ' + #{activity.add}"></i>
						</a> 
						<a th:href="@{/pms/activity/deleteall/{projectId}(projectId=${id})}" class="btn btn-danger"> 
							<i class="fas fa-user-alt-slash ml-2"></i> 
							<i class="fas fa-user-alt-slash ml-2"></i> 
							<i class="fas fa-user-alt-slash ml-2" th:text="' ' + #{activity.delete.all}"></i>
						</a>
					</div>
					<br>
					<hr>
					<div class="container">
						<div class="row">
							<div class="col">
								<p>
									<span>[[#{plannedHours}]] : <strong>[[${activities.isEmpty()?'0':activities[0].project.plannedHours}]]</strong></span>
								</p>
								<p>
									<span>[[#{workedHours}]] : <strong>[[${totWorkedHours}]]</strong></span>
								</p>
							</div>
							<div class="col text-center align-self-center bg-success" id="percentage"> 
								<span>[[#{progress}]] : <strong id="percentage-content"></strong></span>
							</div>
						</div>
					</div>
					<br>
					<div id="chartContainer" class="chartContainer"></div>
					<hr>
					<div th:switch="${activities}" class="col-md-20">
						<h2 th:case="null">No record found !!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md table-bordered" id="export-template">
								<thead>
									<tr>
										<th th:text="#{activity.description}"></th>
										<th th:text="#{date}"></th>
										<th th:text="#{workedHours}"></th>
										<th th:text="#{update}"></th>
										<th th:text="#{delete}"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="activity : ${activities}" th:id="*{activity.id}">
										<td th:text="${activity.description}"></td>
										<td th:text="${#dates.format(activity.date,'dd-MM-yyyy')}"></td>
										<td th:text="${activity.workedHours}"></td>

										<td><a th:href="@{/pms/activity/update/{id}(id=${activity.id})}" class="btn btn-info"> <i class="fas fa-user-edit ml-2"></i>
										</a></td>
										<td><a th:href="@{/pms/activity/delete/{id}(id=${activity.id})}" class="btn btn-danger"> <i class="fas fa-user-alt-slash ml-2"></i>
										</a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<th th:text="#{workedHours.total}"></th>
										<th th:text="${totWorkedHours}"></th>
										<td></td>
										<td></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<br>
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		$(document).ready(function() {
			var planned = [[${activities.isEmpty()? 0 : activities[0].project.plannedHours}]];
			var percentage = [[${activities.isEmpty()? 0 : ( totWorkedHours * 100 ) / activities[0].project.plannedHours }]];	
			
			// Set progress percentage
			$("#percentage-content").text(percentage + '%');
			
			// Set bachground color (<=100% green, 100<%<120% yellow, >=120% red)
			if( percentage > 100) {
				$("#percentage").removeClass("bg-success");
				if( percentage < 120)
					$("#percentage").addClass("bg-warning");
				else
					$("#percentage").addClass("bg-danger");
			}
			
			// Chart
			var points = [];
			/*[# th:each="activity : ${activities}"]*/
			points.push(JSON.parse('{"label": "[(${activity.description})]", "y":[(${activity.workedHours})] }'));
			/*[/]*/
			showParetoChart(points, planned);
	
			// Datatable
			createDatatable('export-template');
		});
	</script>
</body>

</html>