<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="/js/utilities.js"></script>
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div class="card bg-primary">
					<div class="card-body">
						<h6 class="card-text text-center text-white" th:text="#{project.title}"></h6>
					</div>
				</div>
				<br>
				<div>
					<a href="/pms/projects" class="btn btn-success">
						<i class="fas fa-tasks ml-2" th:text="' ' + #{projects} + ' '"> </i>
					</a>
					<a href="/pms/users" class="btn btn-success">
						<i class="fas fa-users ml-2" th:text="' ' + #{users} + ' '"></i>
					</a>
				</div>
				<br>
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>
	</div>
</body>